<ng-container *ngIf="maintenance; then siteOff; else siteOn"></ng-container>

<ng-template #siteOff>
  <div class="vh-100">
    <router-outlet></router-outlet>
  </div>
  <app-bottom-bar></app-bottom-bar>
</ng-template>

<ng-template #siteOn>
  <app-top-bar (emitToggleLeftBar)="toggleLeftBar()"></app-top-bar>

  <mat-drawer-container [hasBackdrop]="false" autosize>
    <mat-drawer mode="side" [opened]="leftBarOpen">
      <app-left-bar (emitCloseLeftBar)="closeLeftBar()"></app-left-bar>
    </mat-drawer>

    <mat-drawer-content class="p-4">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

  <app-bottom-bar></app-bottom-bar>
</ng-template>
