:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-bottom-bar {
  background-color: var(--primary-color);
  color: var(--text-primary-lighter-color);
  bottom: 0;
  width: 100vw;
  padding: 15px 12px;
  position: fixed;
}
